.login-container {
  background-color: var(--secondary-color);
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color-dark);
  z-index: 2;
}
.snakes {
  display: flex;
  justify-content: space-between;
  position: absolute;
  opacity: 0.1;
  z-index: 1;
  pointer-events: none;
}
.snake-left {
  width: 50%;
  height: 85%;
}
.snake-right {
  width: 50%;
  height: 85%;
  transform: scaleX(-1);
}

