:root {
  --primary-color: #282c34;
  --secondary-color: #e9ebf0;
  --text-color-light: white;
  --text-color-dark: #282c34;
  --font-size: 18px;
}

.main-container {
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  color: var(--text-color-light);
}
