:root {
  --primary-color: #282c34;
  --secondary-color: #e9ebf0;
  --green: rgb(130, 196, 100);
  --text-color-light: white;
  --text-color-dark: #282c34;
  --border-color:#ccc;
  --font-size: 18px;
}

body {
  background-color: var(--primary-color);
  height: 100vh;
  padding: 0;
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
